{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Sales Dashboard</h2>
    <div class="row">

        {% for produce_name, tonnage in tonnage_data.items %}
        <div class="col-md-4 mb-4">
            <div class="card shadow border-0">
                <div class="card-body text-center">
                    <h5 class="card-title text-uppercase">{{ produce_name }}</h5>
                    <p class="card-text display-6">{{ tonnage }} kgs</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}